{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cp/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'cp/css/normalize.css' %}">
    <script src="{% static 'cp/js/script.js' %}"></script>
<title>{{ title }}</title>
</head>
<header class="header ">
    <div class="container header__container">
        <a href="{% url 'home' %}" class="home__link">
            <div class="logo">
                <div class="logo__txt">
                    CP
                </div>
            </div>
        </a>
        <form class="search-form" method="GET" action="{% url 'search' %}">
            <input type="text" name="q" placeholder="Искать пост" class="search-form__input">
            <button type="submit" class="search-form__button">
                <img src="/static/cp/imgs/search.png" alt="" class="search-form__img">
            </button>
        </form>
        <nav class="menu">
            <button class="menu__toggle" onclick="toggleMenu()">
                <img src="/static/cp/imgs/br.png" alt="" class="menu__br">
            </button>
            <ul class="menu__list">
                {% if user.is_authenticated %}
                <li class="menu__item">
                    <a href="{% url 'create_post' %}" class="menu__link">Создать пост</a>
                </li> 
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="menu__item">
                        <a href="{% url 'logout' %}" class="menu__link">Выйти</a>
                    </li>
                {% else %}
                    <li class="menu__item">
                        <a href="{% url 'login' %}" class="menu__link">Войти</a>
                    </li>
                    <li class="menu__item">
                        <a href="{% url 'register' %}" class="menu__link">Регистрация</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<body class="body">
    <div class="container body__container">
        {% block posts %}
        {% endblock %}
        {% block post %}
        {% endblock %}
        {% block content %}{% endblock %}
    </div>

</body>
</html>