.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px;
}
html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
*,
::after,
::before {
    box-sizing: inherit;
}  

.header {
    background-color: #1E3A8A;
    max-height: 100px;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    background-color: #93C5FD;
    color: white;
    font-size: 96px;
    height: 100px;
    width: 160px;
}

.logo__txt {
    text-align: center;
    margin: auto;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.menu__link {
    color: white;
    outline: none;
    text-decoration: none;
   
}

@media screen and (max-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  @media screen and (max-width: 576px) {
    .container {
      max-width: 576px;
    }
  }
  @media screen and (max-width: 320px) {
    .container {
      max-width: 400px;
    }
  }